#titulo_menu{
background: #fff;
color: black;
/*color: brown;*/
}
/*#qn-texto{
    padding: 5px 5px 5px 5px;
}.qn-area{
    padding: 5px 5px 5px 5px;
}*/
/*#quote {
  background: Gainsboro;
  padding: 10px 0;
  margin-left: 0;
  margin-right: 0;
}
#quote1 {
    border-style:solid;
    border:1px;
    border-color:#FFFFFF;
}*/
